<h4>{{user}}, your register has been edited</h4>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis consectetur dolor, facere, eum aliquam nihil, laborum laudantium aliquid at itaque ducimus distinctio maxime vel assumenda commodi explicabo possimus id quidem.</p>
